<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
    </head>
    <body>
        <h1>Click the buttons to play</h1>
        <form method="post" action="/play/create">
            <input type="">
            <a href="/" class="btn">Rock</a>
            <a href="/" class="btn">Paper</a>
            <a href="/" class="btn">Scissor</a>
        </form>
    </body>
</html>
