<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
    </head>
    <body>
        <h1>Click the buttons to play</h1>
        <form method="post" action="/">
          <input type="hidden" name="rock">
          <button type='submit'>Rock</button>

          <input type="hidden" name="paper">
          <button type='submit'>Paper</button>

          <input type="hidden" name="rock">
          <button type='submit'>Scissors</button>
        </form>
    </body>
</html>
